@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 5%;
}

section {
    padding: 60px 0;
    transition: .5s;
}

section .top-section {
    margin-bottom: 50px;
    text-align: center;
}

section .top-section h2 {
    margin-bottom: 5px;
    font-weight: 800;
    color: #6E63FD;
}

section .top-section h3 {
    font-weight: 500;
    font-size: 16px;
    color: #3A3B3D;
}

/* NOVO ANÚNCIO */
.novo-anuncio form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.novo-anuncio form .upload-image {
    aspect-ratio: 16/9;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px dashed #6E63FD;
    color: #6E63FD;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.novo-anuncio form .upload-image .overlay-preview {
    display: none;
}

.novo-anuncio form .upload-image.loaded {
    overflow: hidden;
    padding: 5px;
    cursor: pointer;
}

.novo-anuncio form .upload-image.loaded .overlay-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: #3b368a;
    color: #fff;
    font-size: 3em;
    opacity: 0;
    transition: .3s;
}

.novo-anuncio form .upload-image.loaded .overlay-preview:hover {
    opacity: 0.5;
}

.novo-anuncio form .upload-image.loaded .placeholder {
    opacity: 0;
    pointer-events: none;
}

.novo-anuncio form .upload-image .preview {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    pointer-events: none;
    border-radius: 10px;
    cursor: pointer;
}

.novo-anuncio form .upload-image.loaded .preview {
    opacity: 1;
}

.novo-anuncio form .upload-image .icon {
    font-size: 3em;
    transition: .3s;
}

.novo-anuncio form .upload-image:hover .icon {
    font-size: 3.5em;
}

.novo-anuncio form .ad-details .field {
    position: relative;
    margin-bottom: 30px;
    padding: 5px 0;
    cursor: text;
    border-bottom: 1px solid #707175;
}

.novo-anuncio form .ad-details label {
    position: absolute;
    top: 5px;
    left: 0;
    cursor: text;
    font-size: 15px;
    color: #3A3B3D;
    transition: .3s;
}

.novo-anuncio form .ad-details input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
}

.novo-anuncio form .ad-details input:focus~label,
.novo-anuncio form .ad-details input:valid~label {
    transform: translateY(-17px);
    font-size: 12px;
}

.novo-anuncio form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    cursor: no-drop;
    border-radius: 5px;
    font-size: 16px;
    background-color: #70717567;
    color: #fff;
    transition: .5s;
}

.novo-anuncio form button[type="submit"].active {
    background-color: #6E63FD;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .novo-anuncio form {
        display: grid;
        grid-template-columns: 100%;
        gap: 50px;
    }
}