@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --destaque: #6E63FD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 90px 1fr;
    background-color: #E3E9F7;
    transition: .5s;
}

body.sidebar-active {
    grid-template-columns: 280px 1fr;
}

.sidebar {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 100vh;
    padding: 20px;
    background-color: #242527;
    color: #fff;
    transition: .5s;
}

.sidebar .sidebar-overflow {
    overflow: hidden;
}

.sidebar .sidebar-profile {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.sidebar .sidebar-profile .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #6E63FD;
    font-size: 20px;
    font-weight: 700;
}


.sidebar .sidebar-profile .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar .sidebar-profile .info {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.sidebar .sidebar-profile .name {
    font-weight: 600;
}

.sidebar .sidebar-profile .user {
    font-size: 12px;
}

.sidebar .sidebar-nav {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    border-bottom: 1px solid #484849;
}

.sidebar .sidebar-nav a.nav-link,
.sidebar .sidebar-footer .logout {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    margin: 5px 0;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: .5s;
}

.sidebar .sidebar-nav a.nav-link.active {
    background-color: #3A3B3D;
}

.sidebar .sidebar-nav a.nav-link:hover,
.sidebar .sidebar-footer a.logout:hover {
    background-color: #3A3B3D;
}

.sidebar .sidebar-nav a.nav-link .icon,
.sidebar .sidebar-footer a.logout .icon {
    font-size: 26px;
}

.sidebar .sidebar-nav a.nav-link .text,
.sidebar .sidebar-footer a.logout .text {
    min-width: 300px;
    margin-left: 40px;
    opacity: 0;
    transition: .5s;
}

.sidebar.active .sidebar-nav a.nav-link .text,
.sidebar.active .sidebar-footer a.logout .text {
    opacity: 1;
    margin-left: 15px;
}

.sidebar .sidebar-footer {
    padding: 15px 0;
}

.sidebar .sidebar-footer .logo {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-size: 18px;
    padding: 0 10px;
    transition: .3s;
}

.sidebar .sidebar-footer .logo {
    opacity: 0;
    transition: .5s;
}

.sidebar.active .sidebar-footer .logo {
    opacity: 1;
}

.sidebar .sidebar-footer .logo .icon {
    margin-right: 15px;
    font-size: 24px;
}

.sidebar .sidebar-footer .logo span {
    font-weight: 700;
}

.sidebar button.sidebar-btn {
    position: absolute;
    top: 35px;
    right: -15px;
    z-index: 10;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #3A3B3D;
    box-shadow: 0 0 10px #0000004b;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.sidebar button.sidebar-btn:hover {
    background-color: #6E63FD;
}


@media screen and (max-width: 700px) {
    body {
        display: block;
    }

    .sidebar {
        position: fixed;
        left: -280px;
        top: 0;
        height: 100vh;
        width: 280px;
        transition: .3s;
        z-index: 999;
        transition: .5s;
    }

    .sidebar.active {
        left: 0;
    }

}